@import 'inc/reset.less';
@import 'inc/util.less';
@import 'inc/var.less';

// 初始化
.reset();

// 全局样式
body {
    font: @default-font-size/1.5 @default-font-family;
    color: @default-font-color;
}

a {
    color: @default-link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

// 内容样式
.container {
    margin: 0 auto 40px auto;

    // 面包屑导航
    .crumb {
        width: 930px;
        height: 50px;
        padding: 0 25px;
        margin: 0 auto;
        background-color: #f4f4f4;
        line-height: 50px;
        border-top: 2px solid #ececec;

        a {
            color: @default-font-color;
        }
    }

    // 主要内容部分
    .content {
        .clearfix();
        width: 980px;
        margin: 30px auto 0 auto;

        .content-left {
            width: 670px;
            float: left;
        }

        .content-right {
            width: 280px;
            float: right;
        }
    }
}

// 文章列表样式
.post-list {
    .reset-list();

    .post-item {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ececec;

        .time {
            color: #999;
        }

        .post-title {
            .ellipsis();
            font-size: 20px;
            font-weight: bold;
            line-height: 1.8;

            a {
                color: #333;
            }
        }

        .post-main {
            font-size: 13px;
        }

        .more {
            display: inline-block;
            margin-top: 10px;
        }
    }
}

// 没有文章列表的样式
.post-no-data {
    .post-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.8;
        color: #333;
    }
}

// 文章样式
.post-entry {
    .post-title {
        .ellipsis();
        font-size: 20px;
        font-weight: bold;
        line-height: 1.8;
        color: #333;
    }

    .time {
        color: #999;
    }

    .post-main {
        margin-top: 10px;
        font-size: 14px;
        color: @default-font-color;

        // 段落样式
        p {
            text-indent: 2em;
            margin: 1em 0;
        }

        // 列表样式
        ul,
        ol {
            list-style-position: inside;
            margin: 1em 0;

            ul,
            ol {
                padding-left: 1em;
            }
        }

        // 链接样式
        a {
            color: @default-link-color;
        }

        // 引用样式
        blockquote,
        // 代码样式
        pre {
            .clearfix();
            background-color: #fafafa;
            padding: 1em;
            margin: 1em 0;
        }

        // 表格样式
        table {
            .m-table();
        }
    }
}

// 原生翻页样式
.post_nav {
    a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #ececec;
        color: @default-font-color;

        &:hover {
            border-color: @default-main-color;
            text-decoration: none;
        }
    }
}

// 侧边栏样式
.sidebar {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 15px 0 20px 0;

    h2 {
        padding: 0 20px 10px 20px;
        font-size: 16px;
        font-weight: bold;
    }

    ul {
        list-style-position: inside;

        li {
            .ellipsis();
            padding: 0 20px 0 25px;

            a {
                color: @default-font-color;
            }

            em {
                color: @default-main-color
            }
        }
    }
}