@import 'inc/reset.less';
@import 'inc/util.less';
@import 'inc/var.less';

// 初始化
.reset();

// 全局样式
body {
    font: @default-font-size/1.5 @default-font-family;
    color: @default-font-color;
}

a {
    color: @default-link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

// 组件样式 表格
.m-table {
    width: 100%;
    font-size: 12px;
    border: 1px solid #ddd;
    text-align: left;
    border-collapse: collapse;
    line-height: 1.4;
    margin-bottom: 15px;

    thead {
        background: #fafafa;
    }

    tbody {
        background-color: #fff;

        tr:hover {
            background-color: #ffffcc;
        }
    }

    td,
    th {
        border: 1px solid #ddd;
        padding: 7px;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
    }
}

// 组件样式 按钮
.m-btn {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: 0;
    background: @default-main-color;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: @default-main-dark-color;
    }

    &[disabled] {
        background: #ccc;
        border: #ccc;

        &:hover {
            border: #aaa;
            box-shadow: none;
            cursor: not-allowed;
        }
    }
}

// 组件样式 输入框
.m-input {
    font-size: 12px;
    border: 1px solid #cccccc;
    background: #fff;
    outline: none;
    padding: 5px;
    vertical-align: middle;
    height: 18px;

    &:focus {
        border: 1px solid @default-main-color;
    }
}

// 头部样式
#header {
    border-top: 2px solid @default-main-color;

    #inner-header {
        .size(980px, 70px);
        .clearfix();
        margin: 0 auto;

        #logo {
            .size(130px, 70px);
            line-height: 70px;
            float: left;
            font-size: 32px;
            font-weight: bold;

            a {
                .size(130px, 70px);
                .background('@{base-url}/logo.png', '@{base-url}/logo@2x.png');
                background-position: 0 50%;
                display: block;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        #nav {
            float: left;
            margin-left: 50px;
            height: 70px;

            .menu-nav-container {
                .menu {
                    .reset-list();

                    .menu-item {
                        float: left;
                        position: relative;

                        &.current-menu-item {
                            a {
                                color: @default-link-color;
                            }
                        }

                        &:hover,
                        &.hover {
                            .sub-menu {
                                .transition(opacity 0.2s);
                                visibility: visible;
                                opacity: 1;
                            }

                            a {
                                background-color: #f4f4f4;
                                text-decoration: none;
                            }
                        }

                        a {
                            display: block;
                            height: 70px;
                            padding: 0 30px;
                            line-height: 70px;
                            text-align: center;
                            color: @default-font-color;

                            &:hover {
                                background-color: #f4f4f4;
                                text-decoration: none;
                            }
                        }

                        .sub-menu {
                            .reset-list();
                            overflow: hidden;
                            position: absolute;
                            top: 70px;
                            left: 0;
                            visibility: hidden;
                            opacity: 0;

                            .menu-item {
                                .size(150px, 40px);
                                float: none;
                                background-color: @default-main-color;
                               
                                a {
                                    .size(150px, 40px);
                                    background-color: @default-main-color;
                                    text-align: left;
                                    line-height: 40px;
                                    color: #fff;

                                    &:hover {
                                        background-color: @default-main-dark-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #search {
            .size(300px, 70px);
            line-height: 70px;
            float: right;
            text-align: right;

            #search-input {
                width: 205px;
            }

            #search-btn {
                margin-left: -5px;
            }
        }
    }
}

// 底部样式
#footer {
    border-top: 1px solid #ececec;
    background-color: #f4f4f4;
    padding: 10px 0 20px;

    #inner-footer {
        width: 980px;
        margin: 0 auto;
        text-align: center;
        color: #999;
    }
}

// 内容样式
.container {
    margin: 0 auto 40px auto;

    // 面包屑导航
    .crumb {
        width: 930px;
        height: 50px;
        padding: 0 25px;
        margin: 0 auto;
        background-color: #f4f4f4;
        line-height: 50px;
        border-top: 2px solid #ececec;

        a {
            color: @default-font-color;
        }
    }

    .content {
        .clearfix();
        width: 980px;
        margin: 30px auto 0 auto;

        .content-left {
            width: 670px;
            float: left;
        }

        .content-right {
            width: 280px;
            float: right;
        }
    }
}

// 原生翻页样式
.post_nav {
    a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #ececec;
        color: @default-font-color;

        &:hover {
            border-color: @default-main-color;
            text-decoration: none;
        }
    }
}

// 侧边栏样式
.sidebar {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 15px 0 20px 0;

    h2 {
        padding: 0 20px 10px 20px;
        font-size: 16px;
        font-weight: bold;
    }

    ul {
        list-style-position: inside;
        padding: 0 20px 0 25px;

        li {
            .ellipsis();

            a {
                color: @default-font-color;
            }

            em {
                color: @default-main-color
            }
        }
    }
}