@base-url: "img/"; // 图片根目录地址
@default-font-family: Helvetica, Arial, sans-serif; // 默认字体
@default-font-size: 12px; // 默认字号
@default-font-color: #4d4d4d; // 默认字体颜色
@default-link-color: #4daeff; // 默认链接字体颜色
